*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul-title: #6F95FF;
    --verde-sub: #D9E1DF;
    --azul-header: #5C65C0;
    --blue-header: #0C0016;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    --card-color: linear-gradient(148deg, rgba(255,255,255,0.56) 0%, rgba(255,255,255,0.01) 100%);
}
.html{
    font-size: 62.5%;
}
.wrapper .hero {
    border-radius: 0px 0px 40px 40px;
}
body{
    background: url(img/fundo.jpg) no-repeat;
    background-size: cover;
    font-size: 1.6 rem;
}
li, a{
    list-style: none;
    text-decoration: none;
}
#cabecalho{
    background: #6F95FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3rem;
}
#cabecalho ul{
    display: flex;
    gap: 5rem;
}
#cabecalho li a{
    color: var(--blue-header);
    padding: .5rem 1rem;
}
.hero{
    display: flex;
    background: #0C0016;
    position: relative;
    width: 100%;
    height: 90vh;
}
.hero .left {
    width: 50%;
    height: 30rem;
    position: absolute;
    top: 10%;
}
.left h3{
    font-size: 3rem;
    color: var(--verde-sub);
    font-style: italic;
    padding-left: 15%;
}
.left h1{
    font-size: 5rem;
    color: var(--azul-title);
    font-style: italic;
    padding-left: 15%;
}
.left h4{
    font-size: 2rem;
    padding-bottom: 3%;
    padding-left: 15%;
    color: var(--verde-sub);
    font-family: 'alumni sans', sans-serif;
    border-bottom: 1px solid var(--verde-sub);
    width: 90%;
    font-weight: 100;
    
}
.left li {
    color: var(--verde-sub);
    font-size: 1.5rem;
    padding: 20px 0px;
    padding-left: 15%;
    padding-top: 30px;
    font-weight: 600;
}

.hero .right {
    flex-direction: column;
    width: 30%;
    height: 30rem;
    position: absolute;
    right: 0%;
    top: 10%;
}
.hero img{ width: 40%;
    border-radius: 12%;
    box-shadow: 0.9em 0.9em 0.9em rgba(0, 0, 0, 0.338);
    margin: 7% 0% 0% 90%;
}

#sobre-mim {
    text-align: center;
}
#sobre-mim h1{
    font-size: 7rem;
    color: var(--blue-header);
    text-shadow: 0.1em 0.1em 0.03em rgba(0, 0, 0, 0.136);
    padding-top: 200px;
}
#sobre-mim p{
    font-weight: 500;
    margin: 20px 220px 200px 220px;
    font-size: 2rem;

}
.about {
    display: flex;
    flex-direction: column;
}
#experience{
    background: linear-gradient(148deg, rgba(29,0,54,1) 0%, rgba(12,0,22,1) 100%);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    border-radius: 40px 40px 40px 40px;
    margin: 3rem;
    margin-bottom: 10rem;
    padding-bottom: 7rem;
}
#content{
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}
#content h1{
    color: var(--verde-sub);
    margin-top: 2rem;
}
#content p{
    color: var(--verde-sub);
    padding: 2rem;
}
#content .first{
    background: var(--card-color);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 2rem;
    text-align: center;
}
#content .second{
    background: var(--card-color);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 2rem;
    text-align: center;
}
#content .third{
    background: var(--card-color);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 2rem;
    text-align: center;
}
#experience .texto{
    text-align: center;
    padding-top: 100px;
}
#experience .texto h1{
    color: var(--blue-header);
    background-color: #5C65C0;
    margin: 0rem 35rem 0rem 35rem;
    border-radius: 2rem;
    padding: 0.5rem;
    
}
#experience .texto p{
    padding-top: 5%;
    color: var(--verde-sub);
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
#contacts{
    background: #0C0016;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    border-radius: 40px 40px 40px 40px;
    margin: 3rem;
    padding-top: 3rem;
}
#contacts .texto h1{
    text-align: center;
    color: var(--blue-header);
    background-color: #5C65C0;
    margin: 0rem 35rem 0rem 35rem;
    border-radius: 2rem;
    padding: 0.5rem; 
}
#contacts .texto p{
    text-align: center;
    padding: 3rem 15rem 0rem 15rem;
    color: var(--verde-sub);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
#images {
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}
#images img {
    max-width:10%;
    height:auto;
}
@media (max-width: 736px) {
    #cabecalho li{
        gap: 4rem;
    }
}
@media (max-width: 1250px) {
    #cabecalho {
        width: 150vh;
    }
}
@media (max-width: 736px) {
    .hero img {
        width: 30%;
        margin: 7% 0% 0% 60%;
        
    }
}
@media (max-width: 1350px) {
    .hero img {
        width: 40%;
        margin: 7% 0% 0% 80%;
        
    }
}
@media (max-width: 1150px) {
    .hero img {
        width: 35%;
        margin: 7% 0% 0% 80%;
        
    }
}
@media (max-width: 1280px) {
    .hero {
        width: 150vh;
    }
}

@media (max-width: 1024px) {
    .hero .left{
        font-size: 90%;
    }
}
@media (max-width: 768px) {
    #cabecalho {
        font-size: 130%;
        height: 5rem;
    }
}
@media (max-width: 1024px) {
    .left h1 {
        font-size: 500%;
    }
}
@media (max-width: 1024px) {
    .left h1 {
        font-size: 400%;
    }
}

@media (max-width: 1024px) {
    .left h4 {
        font-size: 200%;
        border-bottom: 1px solid var(--verde-sub);
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .left li {
        font-size: 150%;
    }
}
@media (max-width: 1000px) {
    #sobre-mim h1 {
        font-size: 500%;
    }
}
@media (max-width: 1000px) {
    #sobre-mim h1 {
        margin-left: 35%;
        margin-right: auto; 
        
    }
}
@media (max-width: 1000px) {
    #sobre-mim h2 {
        font-size: 200%;
        margin-left: 35%;
        margin-right: auto; 
        font-size: 2rem;
    }
}
@media (max-width: 1400px) {
    #experience {
        width: 96%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
    }
}
@media (max-width: 1200px) {
    #experience {
        width: 100%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
        margin: 1.7rem;
    }
}
@media (max-width: 1360px) {
    #experience h1 {
        font-size: 200%;
        padding: 10px;
        margin: 0rem 35rem 0rem 35rem;
        border-radius: 50px;
    }
}
@media (max-width: 1270px) {
    #experience h1 {
        font-size: 200%;
        padding: 10px;
        margin: 0px 350px 0px 350px;
        border-radius: 50px;
    }
}
@media (max-width: 1200px) {
    #experience p {
        font-size: 400%;
    }
}
@media (max-width: 1024px) {
    #experience {
        width: 120%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
        margin: 1.7rem;
    }
}
@media (max-width: 768px) {
    #experience {
        width: 120%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
        margin: 1.7rem;
    }
}
@media (max-width: 425px) {
    #experience {
        width: 120%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
        margin: 1.7rem;
    }
}
@media (max-width: 1000px) {
    #experience h1 {
        font-size: 200%;
        padding: 10px;
        margin: 0px 220px 0px 220px;
        border-radius: 50px;
    }
}
