*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul-title: #6F95FF;
    --verde-sub: #D9E1DF;
    --azul-header: #5C65C0;
    --blue-header: #0C0016;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
}
.html{
    font-size: 62.5%;
}
.wrapper .hero {
    border-radius: 0px 0px 40px 40px;
}
body{
    background: url(img/fundo.jpg) no-repeat;
    background-size: cover;
    font-size: 1.6 rem;
}
a, li{
    list-style: none;
    text-decoration: none;
}
.cabecalho{
    background: #6F95FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3rem;
}
.cabecalho ul{
    display: flex;
    gap: 5rem;
}
.cabecalho li{
    color: var(--blue-header);
    padding: .5rem 1rem;
}
.hero{
    display: flex;
    background: #0C0016;
    position: relative;
    width: 100%;
    height: 90vh;
}
.hero .left {
    width: 50%;
    height: 30rem;
    position: absolute;
    top: 10%;
}
.left h3{
    font-size: 3rem;
    color: var(--verde-sub);
    font-style: italic;
    padding-left: 15%;
}
.left h1{
    font-size: 5rem;
    color: var(--azul-title);
    font-style: italic;
    padding-left: 15%;
}
.left h4{
    font-size: 2rem;
    padding-bottom: 3%;
    padding-left: 15%;
    color: var(--verde-sub);
    font-family: 'alumni sans', sans-serif;
    border-bottom: 1px solid var(--verde-sub);
    width: 90%;
    font-weight: 100;
    
}
.left li {
    color: var(--verde-sub);
    font-size: 1.5rem;
    padding: 20px 0px;
    padding-left: 15%;
    padding-top: 30px;
    font-weight: 600;
}

.hero .right {
    flex-direction: column;
    width: 30%;
    height: 30rem;
    position: absolute;
    right: 0%;
    top: 10%;
}
.hero img{ width: 40%;
    border-radius: 12%;
    box-shadow: 0.9em 0.9em 0.9em rgba(0, 0, 0, 0.338);
    margin: 7% 0% 0% 90%;
}

.hero2 {
    text-align: center;
}
.hero2 h1{
    font-size: 7rem;
    color: var(--blue-header);
    text-shadow: 0.1em 0.1em 0.03em rgba(0, 0, 0, 0.136);
    padding-top: 200px;
}
.hero2 h2{
    font-weight: 500;
    margin: 20px 220px 200px 220px;
    font-size: 2rem;

}
.container {
    display: block;
}
.hero3{
    background: #1D0036;
    width: 96%;
    height: 200vh;
    border-radius: 40px 40px 40px 40px;
    margin: 30px;
}
.hero3 .center{
    text-align: center;
    padding-top: 100px;
    
}
.hero3 h1{
    color: var(--blue-header);
    background-color: #5C65C0;
    padding: 10px;
    margin: 0px 550px 0px 550px;
    border-radius: 50px;
}
.hero3 h2{
    padding-top: 5%;
    color: var(--verde-sub);
    font-size: 5rem;
}

@media (max-width: 736px) {
    .cabecalho li{
        gap: 4rem;
    }
}
@media (max-width: 1250px) {
    .cabecalho {
        width: 150vh;
    }
}
@media (max-width: 736px) {
    .hero img {
        width: 30%;
        margin: 7% 0% 0% 60%;
        
    }
}
@media (max-width: 1350px) {
    .hero img {
        width: 40%;
        margin: 7% 0% 0% 80%;
        
    }
}
@media (max-width: 1150px) {
    .hero img {
        width: 35%;
        margin: 7% 0% 0% 80%;
        
    }
}
@media (max-width: 1280px) {
    .hero {
        width: 150vh;
    }
}

@media (max-width: 1024px) {
    .hero .left{
        font-size: 90%;
    }
}
@media (max-width: 768px) {
    .cabecalho {
        font-size: 130%;
        height: 5rem;
    }
}
@media (max-width: 1024px) {
    .left h1 {
        font-size: 500%;
    }
}
@media (max-width: 1024px) {
    .left h1 {
        font-size: 400%;
    }
}

@media (max-width: 1024px) {
    .left h4 {
        font-size: 200%;
        border-bottom: 1px solid var(--verde-sub);
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .left li {
        font-size: 150%;
    }
}
@media (max-width: 1000px) {
    .hero2 h1 {
        font-size: 500%;
    }
}
@media (max-width: 1000px) {
    .hero2 h1 {
        margin-left: 35%;
        margin-right: auto; 
        
    }
}
@media (max-width: 1000px) {
    .hero2 h2 {
        font-size: 200%;
        margin-left: 35%;
        margin-right: auto; 
        font-size: 2rem;
    }
}
@media (max-width: 1400px) {
    .hero3 {
        width: 96%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
    }
}
@media (max-width: 1200px) {
    .hero3 {
        width: 100%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
        margin: 30px;
    }
}
@media (max-width: 1360px) {
    .hero3 h1 {
        font-size: 200%;
        padding: 10px;
        margin: 0px 500px 0px 500px;
        border-radius: 50px;
    }
}
@media (max-width: 1270px) {
    .hero3 h1 {
        font-size: 200%;
        padding: 10px;
        margin: 0px 350px 0px 350px;
        border-radius: 50px;
    }
}
@media (max-width: 1200px) {
    .hero3 h2 {
        font-size: 400%;
    }
}
@media (max-width: 1000px) {
    .hero3 {
        width: 120%;
        height: 200vh;
        border-radius: 40px 40px 40px 40px;
        margin: 30px;
    }
}
@media (max-width: 1000px) {
    .hero3 h1 {
        font-size: 200%;
        padding: 10px;
        margin: 0px 220px 0px 220px;
        border-radius: 50px;
    }
}
